<div class="relative bg-gray-100 rounded-2xl border border-gray-400 flex flex-col" style="height: 450px;">
  <img [src]="curso.imagen" class="h-auto w-full rounded-t-2xl" style="height: 50%;">
  <div class="absolute top-2 right-2 rounded-full bg-yellow-400 p-2 border border-blue-50 ">
    <span class="text-gray-950 font-extrabold text-sm">{{ curso.precio }}</span>
  </div>
  <div class="p-3 grid content-between" style="height: 50%;">
    <span class="text-xl text-blue-800 font-bold" style="height: 50%;">{{ curso.nombre }}</span>
    <span class="text-sm text-gray-600" style="height: 50%;">{{ curso.descripcion }}</span>
  </div>
  <div class="mt-auto p-2 grid content-between">
    <span class="font-bold text-gray-600 p-1" style="font-size: 12px">Instructor {{ curso.instructor }}</span>
    <span class="text-gray-500 p-1" style="font-size: 12px">{{curso.maxCupos-curso.numeroEstudiantes}} cupos disponibles de {{curso.maxCupos}}</span>
    <button class="bg-blue-700 p-3 rounded-xl text-gray-50 w-full font-bold" style="position: relative;">
      <img src="https://cdn-icons-png.flaticon.com/128/3523/3523887.png" alt="Icono de añadir" class="mr-2 img-fluid" style="max-width: 30px; max-height: 100%; position: absolute; top: 50%; transform: translateY(-50%);">
      Añadir a Carrito
    </button>
  </div>
</div>
